<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body class="">
    <script>
        (function() {
            const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
            document.querySelector('body').classList.add(prefersDark ? 'dark-theme' : 'light-theme');
        })();
    </script>
    <div class="container">
        <div class="top-nav">
            <div class="nav-side">
                <h1>Game Recommender</h1>
            </div>
            <div class="search-bar">
                <div class="dropdown">
                    <div class="input-wrapper">
                        <input type="text" class="dropdown-input" placeholder="Select a game">
                        <span id="clear-btn">X</span>
                    </div>
                    <div class="dropdown-list"></div>
                </div>
                <div>
                    <button id="recs-btn">Get Recommendations</button>
                </div>
            </div>
            <div class="nav-side">
                <button id="theme-sw-btn">Switch Theme</button>
            </div>
        </div>
        <div class="searched-game-cont"></div>
        <div class="display-sect"></div>
    </div>
</body>
<script src="{{url_for('static', filename='game_rec.js')}}"></script>

</html>